body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #121212;
    font-family: 'Segoe UI', sans-serif;
    color: #e0e0e0;
}

#viewport {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    cursor: default;
    
    /* Grid Infinito */
    background-color: #121212;
    background-image: radial-gradient(circle, #333 1px, transparent 1px);
    background-size: 40px 40px; 
}

#world {
    position: absolute;
    top: 0;
    left: 0;
    width: 0; height: 0;
    overflow: visible;
    transform-origin: 0 0;
}

.card {
    position: absolute;
    width: 220px;
    background: #1e1e1e;
    border: 1px solid #333;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
    border-radius: 12px;
    padding: 20px;
    user-select: none; 
    transition: box-shadow 0.2s, border-color 0.2s;
    cursor: move; 
}

.card:hover {
    border-color: #777;
    box-shadow: 0 15px 30px rgba(0,0,0,0.7);
}

.card.dragging {
    border-color: #bb86fc;
    box-shadow: 0 0 15px rgba(187, 134, 252, 0.5);
    z-index: 1000;
    cursor: grabbing;
}

h2 { margin: 0 0 10px 0; font-size: 1.1rem; color: #fff; pointer-events: none; }
p { margin: 0; color: #888; font-size: 0.9rem; line-height: 1.5; pointer-events: none; }

#hud {
    position: fixed; bottom: 20px; left: 20px;
    background: #1e1e1e; padding: 10px 15px;
    border-radius: 30px; border: 1px solid #333;
    font-size: 0.8rem; color: #666; pointer-events: none;
}
