* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #102217;
}

::-webkit-scrollbar-thumb {
  background: #183423;
  border-radius: 4px;
}

.bg-dot-pattern {
  background-image: radial-gradient(#316847 1.5px, transparent 1.5px);
  background-size: 32px 32px;
}

#canvas {
  position: absolute;
  width: 200%;
  height: 200%;
  top: 0;
  left: 0;
  transform-origin: center;
}

.canvas-grid {
  position: absolute;
  inset: 0;
  background-image: radial-gradient(#316847 1.5px, transparent 1.5px);
  background-size: 32px 32px;
  opacity: 0.4;
  pointer-events: none;
}
