/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: #102217; 
}
::-webkit-scrollbar-thumb {
    background: #183423; 
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #316847; 
}

/* Background Pattern */
.bg-dot-pattern {
    background-image: radial-gradient(#316847 1.5px, transparent 1.5px);
    background-size: 32px 32px;
}
