* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #102217;
}

::-webkit-scrollbar-thumb {
  background: #183423;
  border-radius: 4px;
}

/* GRID PRINCIPAL – VISÍVEL */
#viewport {
  background-color: #102217;
  background-image: radial-gradient(
    rgba(13, 242, 105, 0.35) 2px,
    transparent 2px
  );
  background-size: 32px 32px;
  background-position: 0 0;
}

/* GRID DO MINI MAPA */
.bg-dot-pattern {
  background-image: radial-gradient(
    rgba(13, 242, 105, 0.4) 1.5px,
    transparent 1.5px
  );
  background-size: 16px 16px;
}

#canvas {
  position: absolute;
  inset: 0;
  transform-origin: center;
}
